body {
  max-width: 900px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* -----------HEADER----------- */
/* .container {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 20rem;
  max-width: 40rem;
} */
.content h1 {
  padding: 4rem;
  font-size: 10rem;
  text-align: center;
  background: url(images/header-img.jpg);
  background-size: cover;
  --webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  perspective: 1000px;
  transform-style: preserve-3d;
}

@keyframes rotate {
  100% {transform:rotate(360deg);}
}
h1 {
  animation: rotate 5s cubic-bezier(0.34, 1.56, 0.64, 1) both infinite;
  animation-play-state: paused;
}
h1:hover {
  animation-play-state: running;
}
/* span:nth-child(2) {
  animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.4s;
}
span:nth-child(4) {
  animation-delay: 0.6s;
}
span:nth-child(5) {
  animation-delay: 0.8s;
} */
/* .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links > * {
  font-size: 1.5em;
  border-radius: 10px;
  background-color: grey;
  padding: 10px 0;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
.links > *:hover {
  background-color: lightgray;
} */
/* -----------GRID LAYOUT----------- */

.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(200px, auto));
  grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer";
}

header {
  grid-area: header;
  border: 1px solid black;
}

nav {
  grid-area: nav;
  border: 1px solid black;
}

main {
  grid-area: main;
  border: 1px solid black;
}

footer {
  grid-area: footer;
  border: 1px solid black;
}